<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('persocss/publicCss.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('persocss/kontakt.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('persocss/fullcalendar.css') }}">
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fullcalendar.js') }}"></script>

    <title>Raum Buchung</title>

  </head>
  <body>
    {% block head %}
      <nav class=" navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/TH_Koeln_Logo.svg/1280px-TH_Koeln_Logo.svg.png" height="62" width="130" alt="">
          </a>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{{ path('h_zraum_reservierung_homepage') }}">Home</a>
            </li>
            <li>
              <a href="#">Infos</a>
            </li>
            <li>
              <a href="{{ path('h_zraum_reservierung_kontakt') }}">Kontakt</a>
            </li>
          </ul>
        </div>
      </nav>
    {% endblock %}
    {% block body %}{% endblock %}

    {% block footer %}
      <footer class="site-footer section-spacing text-center " id="eight">

        <div class="container">
          <div class="row">
            <div class="col-md-4"></br>
            <p class="footer-links">
              <a href="#"></a>
            </p>

          </div>

          <div class="col-md-4"></br>
          <small>&copy; 2017 WI/AI-Projekt reserved.</small>
        </div>
        <div class="col-md-4"></br>
        <ul class="social">
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-twitter "></i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-youtube-play"></i>
            </a>
          </li>
        </ul>
      </br>

    </div>
  </div>
</div>
</footer>
{% endblock %}
</body>

</html>
