<html>
    <head>
      <title>RaumReservierung</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
      <link href="{{ asset('persocss/PublicStyle.css') }}" type="text/css" rel="stylesheet"/>
    </head>

<body>
{% block header %}

    <!--Navigation-->
      <div id="myNavbar" class="navbar navbar-default navbar-fixed-top now zoomIn" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://127.0.0.1:8000/" class="navbar-brand wow zoumInY">RaumReservierung</a>
          </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav nav-tabs navbar-right">
              <li><a href="{{ path('h_zraum_reservierung_homepage') }}"> <i class="fa fa-home"></i> Home</a></li>
              <li><a href=""> <i class="fa fa-tty"></i> Services</a></li>
              <li><a href="{{ path('h_zraum_reservierung_kontakt') }}"> <i class="fa fa-phone"></i> contact</a></li>
              <li><a href="" data-toggle="modal" data-target="#myModal"> <i class="fa fa-question-circle"></i> About</a></li>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}

{% block body %}  {% endblock %}

{% block footer %}
<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">About RaumReservierung</h4>
    </div>
    <div class="modal-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
<!--About in modal windows-->
    <div class="footer">
        <div class="container">
          <div class="row">
          <div class="col-lg-4 col-md-4">
            <h4>Contact us</h4>
            <p><i class="fa fa-home" aria-hidden="true"> </i> 111 cologne Deutchland 2278</p>
            <p><i class="fa fa-envelope" aria-hidden="true"> </i> <a href="mailto:info@raum.com"> info@raum.com </a></p>
            <p><i class="fa fa-phone" aria-hidden="true"> </i> <a href=""> +1 (128) 538 944 34 21 </a></p>
            <p><i class="fa fa-globe" aria-hidden="true"> </i> <a href=""> www.RaumReservierun.com </a></p>
          </div>
          <div class="col-lg-4 col-md-4">
            <h4>About</h4>
            <p><i class="fa fa-square-o" aria-hidden="true"></i> About us</p>
            <p><i class="fa fa-square-o" aria-hidden="true"></i> Privacy</p>
            <p><i class="fa fa-square-o" aria-hidden="true"></i> Term & condition</p>

          </div>
          <div class="col-lg-4 col-md-4">
              <h4>Stay in touch</h4>
              <a href=""><i class="social fa fa-linkedin" aria-hidden="true"></i></a>
              <a href=""><i class="social fa fa-google" aria-hidden="true"></i></a>
              <a href=""><i class="social fa fa-twitter" aria-hidden="true"></i></a>
              <a href=""><i class="social fa fa-facebook" aria-hidden="true"></i></a>
              <a href=""><i class="social fa fa-pinterest" aria-hidden="true"></i></a>
              <a href=""><i class="social fa fa-youtube" aria-hidden="true"></i></a>
              <a href=""><i class="social fa fa-github" aria-hidden="true"></i></a><br>

              <section class="bg-img text-left">
      <div>
        <h4>
          <strong>Subscribe</strong>
        </h4>
        <h6 class="font-alt">Get weekly top new jobs delivered to your inbox</h6>
        <form class="form-subscribe" action="newslwtter.php">
          <div class="input-group">
            <input type="text" class="form-control input-lg" placeholder="Your email address">
            <span class="input-group-btn">
              <button class="btn btn-success btn-lg" type="submit">Subscribe</button>
            </span>
          </div>
        </form>
      </div>
    </section>


          </div>
          <div class="col-lg-4 col-md-4"></div>
          </div>
        </div>
    </div>
    <script src="{{asset('js/modal.js')}}"></script>
    <script src="{{ asset('js/wow.min.js') }}"></script>
      <script>
          new WOW().init();
      </script>
      <script src="../../../web/js/carousel.js"></script>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
      <script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% endblock %}
</body>
