{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <h1>Dozent edit</h1>
    <div class= "cration_artiste">
          <div class="cration mdl-shadow--2dp">
            <div class="form_creation">
    {{ form_start(edit_form) }}
    {{ form_row(edit_form.name, {'attr':{'class':'form-control'}})}}
    {{ form_row(edit_form.vorname, {'attr':{'class':'form-control'}})}}
    {{ form_row(edit_form.title, {'attr':{'class':'form-control'}})}}
    {{ form_row(edit_form.raumNummer, {'attr':{'class':'form-control'}})}}
    {{ form_row(edit_form.email, {'attr':{'class':'form-control'}})}}

        {{ form_widget(edit_form) }}
        <div class="button_p_edit">

        <input class="mdl-button mdl-js-button mdl-button--raised" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
          <div class="retour">

            <a class="mdl-button mdl-js-button mdl-button--raised" href="{{ path('adminDozent_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <div class="modifier">

                <input class="mdl-button mdl-js-button mdl-button--raised" type="submit" value="Delete">
            {{ form_end(delete_form) }}
          </div>

        </li>
    </ul>
  </div>
</div>
</div>
</div>
{% endblock %}
