{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <h1>Dozents list</h1>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Vorname</th>
                <th>Title</th>
                <th>Raumnummer</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dozent in dozents %}
            <tr>
                <td><a href="{{ path('adminDozent_show', { 'id': dozent.id }) }}">{{ dozent.id }}</a></td>
                <td>{{ dozent.name }}</td>
                <td>{{ dozent.vorname }}</td>
                <td>{{ dozent.title }}</td>
                <td>{{ dozent.raumNummer }}</td>
                <td>{{ dozent.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="bon" href="{{ path('adminDozent_show', { 'id': dozent.id }) }}"><i class="glyphicon glyphicon-info-sign"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('adminDozent_edit', { 'id': dozent.id }) }}"><i class="glyphicon glyphicon-pencil"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
          <div class= "cration_artiste">

            <a class="mdl-button mdl-js-button mdl-button--raised" href="{{ path('adminDozent_new') }}">Create a new dozent<i class="glyphicon glyphicon-plus"></i></a>
        </div>
      </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
