{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dozent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dozent.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ dozent.name }}</td>
            </tr>
            <tr>
                <th>Vorname</th>
                <td>{{ dozent.vorname }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ dozent.title }}</td>
            </tr>
            <tr>
                <th>Raumnummer</th>
                <td>{{ dozent.raumNummer }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ dozent.email }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adminDozent_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('adminDozent_edit', { 'id': dozent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
