{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <h1>Gebaeudes list</h1>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th>Id</th>
                <th>Profile</th>
                <th>Nummer</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gebaeude in gebaeudes %}
            <tr>
                <td><a href="{{ path('adminGebaeude_show', { 'id': gebaeude.id }) }}">{{ gebaeude.id }}</a></td>
                <td><img src="{{ asset(gebaeude.image.webPath)}}" height="52" width="52" ></td>
                <td>{{ gebaeude.nummer }}</td>
                <td>{{ gebaeude.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adminGebaeude_show', { 'id': gebaeude.id }) }}"><i class="glyphicon glyphicon-info-sign"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('adminGebaeude_edit', { 'id': gebaeude.id }) }}"><i class="glyphicon glyphicon-pencil"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
          <div class= "cration_artiste">

            <a class="mdl-button mdl-js-button mdl-button--raised" href="{{ path('adminGebaeude_new') }}">Create a new gebaeude<i class="glyphicon glyphicon-plus"></i></a>
        </li>
    </ul>
{% endblock %}
