{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <h1>Raums list</h1>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nummer</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for raum in raums %}
            <tr>
                <td><a href="{{ path('adminRaum_show', { 'id': raum.id }) }}">{{ raum.id }}</a></td>
                <td>{{ raum.nummer }}</td>
                <td>{{ raum.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adminRaum_show', { 'id': raum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('adminRaum_edit', { 'id': raum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
          <div class= "cration_artiste">

            <a class="mdl-button mdl-js-button mdl-button--raised" href="{{ path('adminRaum_new') }}">Create a new raum</a>
          </div>
</li>
    </ul>
{% endblock %}
