{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <h1>Raum creation</h1>
    <div class= "cration_artiste">
    {{ form_start(form) }}
    <div class="cration mdl-shadow--2dp">
         <div class="form_creation">
           <div class="form-groupe">
             {{ form_row(form.nummer, {'attr':{'class':'form-control'}})}}
             {{ form_row(form.name, {'attr':{'class':'form-control'}})}}
             {{ form_row(form.sitzplatze, {'attr':{'class':'form-control'}})}}
             {{ form_row(form.beamer, {'attr':{'class':'form-control'}})}}
             {{ form_row(form.steckdose, {'attr':{'class':'form-control'}})}}
             {{ form_row(form.usbAnschluss, {'attr':{'class':'form-control'}})}}
        {{ form_widget(form) }}
        <br>
        <input class="mdl-button mdl-js-button mdl-button--raised" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
          <div class="lon">

            <a class="mdl-button mdl-js-button mdl-button--raised" href="{{ path('adminRaum_index') }}">Back to the list</a>
        </li>
    </ul>
  </div>
  </div>
  </div>
  </div>
{% endblock %}
