{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <h1>Reservierungs list</h1>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th>Id</th>
                <th>Startdatum</th>
                <th>Enddatum</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservierung in reservierungs %}
            <tr>
                <td><a href="{{ path('adminReservierung_show', { 'id': reservierung.id }) }}">{{ reservierung.id }}</a></td>
                <td>{% if reservierung.startDatum %}{{ reservierung.startDatum|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if reservierung.endDatum %}{{ reservierung.endDatum|date('Y-m-d H:i:s') }}{% endif %}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adminReservierung_show', { 'id': reservierung.id }) }}"><i class="glyphicon glyphicon-info-sign"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('adminReservierung_edit', { 'id': reservierung.id }) }}"><i class="glyphicon glyphicon-pencil"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <div class= "cration_artiste">
            <a class="mdl-button mdl-js-button mdl-button--raised" href="{{ path('adminReservierung_new') }}" >Neue Reservierung erfassen<i class="glyphicon glyphicon-plus"></i></a>
</div>
        </li>
    </ul>
{% endblock %}
