{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <h1>Reservierung</h1>
    <div class="conte_show">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservierung.id }}</td>
            </tr>
            <tr>
                <th>Startdatum</th>
                <td>{% if reservierung.startDatum %}{{ reservierung.startDatum|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddatum</th>
                <td>{% if reservierung.endDatum %}{{ reservierung.endDatum|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

        <li>
            {{ form_start(delete_form) }}

              <div class="show_suprimer">

                <input class="mdl-button mdl-js-button mdl-button--raised" type="submit" value="Delete">
              </div>

            {{ form_end(delete_form) }}
        </li>
    <ul>
      <li>
        <div class="show_modifier">

          <a class="mdl-button mdl-js-button mdl-button--raised " href="{{ path('adminReservierung_edit', { 'id': reservierung.id }) }}">Edit<i class="glyphicon glyphicon-pencil"></i></a>
      </li>
    </div>
  </ul>
  <ul>
    <div class="show_retour">

        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised" href="{{ path('adminReservierung_index') }}">Back to the list</a>
        </li>


    </ul>
  </div>

{% endblock %}
